.App-header {
  text-align: center;
}

.App-title {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.App-intro {
  font-size: large;
}

.App-text {
  text-align: center;
}

.App-form {
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-row {
}

input[type=text] {
  padding: 0.3rem;
  border: 2px solid #3C3C3D;
  border-radius: 1rem;
  width: 18rem;
}

input[type=submit] {
  padding: 0.3rem;
  background: #FFFFFF;
  border: 2px solid #3C3C3D;
  cursor: pointer;
  border-radius: 1rem;
}

input[type=submit]:hover {
  background: #3C3C3D;
  color: #FFFFFF;
}
